body {
    font: 400 16px/1.25 'Montserrat', sans-serif;
    color: getColor('text');
    background-color: getColor('body_bg');
}

section {
    margin-bottom: 100px;
}

svg {
    fill: currentColor;
}

.container {
    margin-inline: auto;
    padding-inline: 15px;
    min-width: 320px;
    max-width: 414px;

    @media only screen and (min-width: 960px) {
        max-width: 960px;
    }

    @media only screen and (min-width: 1140px) {
        max-width: 1140px;
    }
}

.link {
    color: getColor('text');
    transition: $trans_color;
}

.link:is(:hover, :focus) {
    color: getColor('active');
}